/* GENERAL */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1rem;
}

body{
    background-color: rgba(67, 179, 127, 0.050);
}

a{
    text-decoration: none;
}

.boton{
    text-align: center;
    margin-top: 20px;
}

.boton a{
    color: rgb(67, 179, 127);
    border-style: solid;
    padding: 5px;
    border-radius: 15px;
}

.boton a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(67, 179, 127);
}

/* tablas */
table{
    margin: auto;
    background: rgba(67, 179, 127, 0.150);
    border-radius: 10px;
    padding: 8px;
    border-style: solid;
    border-color: rgb(67, 179, 127);
}
/*/

/* formularios */
form{
    margin: auto;
    width: 60%;
    border-style: solid;
    border-color: rgb(67, 179, 127);
    background: rgba(67, 179, 127, 0.150);
    border-radius: 10px;
    padding-top: 5px;
}

fieldset{
    border-style: none;
    padding: 10px;
}

form div{
    margin: 5px auto;
}

fieldset legend{
    text-align: center;
    font-size: 2rem;
    color: rgb(67, 179, 127);
}

form input{
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(67, 179, 127);
    border: 0;
    color: rgb(255, 255, 255);
}

form input:focus{
    background-color:  rgb(255, 255, 255);
    color: rgb(67, 179, 127);
    border-radius: 2px;
}

form textarea{
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(67, 179, 127);
    border: 0;
    color: rgb(255, 255, 255);
    resize: none;
    height: 30px;
}

form textarea:focus{
    background-color:  rgb(255, 255, 255);
    color: rgb(67, 179, 127);
    border-radius: 2px;
    height: auto;
}

form select{
    background-color: rgb(67, 179, 127);
    color: rgb(255, 255, 255);
    border: 0;
    padding: 3px;
    border-radius: 10px;
}

.btn_form{
    
    border-radius: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(67, 179, 127);
    float: right;
    padding: 5px;
}

.btn_form:hover{
    color: rgb(67, 179, 127);
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}
/*/


/* HEADER */
header{
    padding: 20px;
    gap: 50px;
    width: 100%;
    height: 150px;
    background-color: rgba(67, 179, 127, 0.459);
    margin-bottom: 20px;
}

header img{
    height: 100px;
    width: auto;
    margin: 5px 10px;
}

header div{
    float: right;
    margin: 35px 20px;
    color: rgb(255, 255, 255);
}

header a {
    color: rgb(67, 179, 127);
}

header a:hover{
    color: rgb(255, 255, 255);
}


/* INDEX */
#index{
    padding: 10px;
    width: 100%;
}

#tabla_servicio .servicio_cent{
    text-align: center;
}

#tabla_servicio caption{
    margin-bottom: 10px;
    font-size: 2rem;
    color: rgb(67, 179, 127);
}

#tabla_servicio a {
    color: rgb(67, 179, 127);
}

#tabla_servicio a:hover{
    color: rgb(255, 255, 255);
}

#tabla_servicio td{
    padding: 5px 12px;
}

#tabla_servicio th{
    padding-bottom: 5px;
}

#serv{
    width: 5%;
}

#tt{
    width: 20%;
}

#inv{
    width: 5%;
}

#obj{
    width: 25%;
}

#fch{
    width: 15%;
}

#est{
    width: 5%;
}

#acc{
    width: 30%;
}


/* TRAZABILIDAD */
#tabla_traz{
    text-align: center;
    margin-bottom: 30px;
    width: 70%;
}

#tabla_traz caption{
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: rgb(67, 179, 127);
}

#tabla_traz td{
    padding: 2px;
    width: 20%;
}

#tabla_ffin td{
    padding: 2px;
    text-align: center;
    width: 33%;
}

/* CARGAR ARCHIVO */
#form_carch fieldset{
    padding: 20px;
}

#form_carch div input{
    margin-left: 20px;
}


/* NUEVA ACTIVIDAD */
#form_nact #btn_container{
    display: flex;
    gap: 10px;
    float: right;
}

#form_nact fieldset{
    padding: 20px;
}