/* GENERAL */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1rem;
}

body{
    background-color: rgba(67, 179, 127, 0.050);
}

a{
    text-decoration: none;
}

.boton{
    text-align: center;
    margin-top: 20px;
}

.boton a{
    color: rgb(67, 179, 127);
    border-style: solid;
    padding: 5px;
    border-radius: 15px;
}

.boton a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(67, 179, 127);
}

/* tablas */
table{
    margin: auto;
    background: rgba(67, 179, 127, 0.150);
    border-radius: 10px;
    padding: 8px;
    border-style: solid;
    border-color: rgb(67, 179, 127);
}

caption{
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: rgb(67, 179, 127);
}

/* formularios */
form{
    margin: auto;
    width: 60%;
    border-style: solid;
    border-color: rgb(67, 179, 127);
    background: rgba(67, 179, 127, 0.150);
    border-radius: 10px;
    padding-top: 5px;
}

fieldset{
    border-style: none;
    padding: 10px;
}

form div{
    margin: 5px auto;
}

fieldset legend{
    text-align: center;
    font-size: 2rem;
    color: rgb(67, 179, 127);
}

form input{
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(67, 179, 127);
    border: 0;
    color: rgb(255, 255, 255);
}

form input:focus{
    background-color:  rgb(255, 255, 255);
    color: rgb(67, 179, 127);
    border-radius: 2px;
}

form textarea{
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(67, 179, 127);
    border: 0;
    color: rgb(255, 255, 255);
    resize: none;
    height: 30px;
}

form textarea:focus{
    background-color:  rgb(255, 255, 255);
    color: rgb(67, 179, 127);
    border-radius: 2px;
    height: auto;
}

form select{
    background-color: rgb(67, 179, 127);
    color: rgb(255, 255, 255);
    border: 0;
    padding: 3px;
    border-radius: 10px;
    width: auto;
}

.btn_container{
    display: flex;
    gap: 10px;
    float: right;
}

.btn_form{
    border-radius: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(67, 179, 127);
    float: right;
    padding: 5px;
}

.btn_form:hover{
    color: rgb(67, 179, 127);
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}
/*/


/* HEADER */
header{
    padding: 20px;
    gap: 50px;
    width: 100%;
    height: 150px;
    background-color: rgba(67, 179, 127, 0.459);
    margin-bottom: 20px;
}

header img{
    height: 100px;
    width: auto;
    margin: 5px 10px;
}

header div{
    float: right;
    margin: 35px 20px;
    color: rgb(255, 255, 255);
}

header a {
    color: rgb(67, 179, 127);
}

header a:hover{
    color: rgb(255, 255, 255);
}
/*/


/* INDEX */
#tabla_servicio .servicio_cent{
    text-align: center;
}

#tabla_servicio a{
    color: rgb(67, 179, 127);
}

#tabla_servicio a:hover{
    color: rgb(255, 255, 255);
}

#tabla_servicio td{
    padding: 7px;
}

#tabla_servicio th{
    padding-bottom: 5px;
}
/*/


/* TRAZABILIDAD */
#tabla_traz{
    text-align: center;
    margin-bottom: 30px;
    width: 70%;
}

#tabla_traz td{
    padding: 2px;
    width: 20%;
}

#tabla_ffin td{
    padding: 2px;
    text-align: center;
    width: 33%;
}
/*/


/* MODIFICACIONES */
#tabla_mod{
    width: 1000px;
}

#tabla_mod #mod{
    width: 130px;
}

#tabla_mod #inv{
    width: 110px;
}

#tabla_mod #fch{
    width: 90px;
}

#tabla_mod #serv{
    width: 100px;
}

#tabla_mod #nom{
    width: auto;
}

#tabla_mod #obj{
    width: 170px;
}

#tabla_mod #fchf{
    width: 100px;
}

#tabla_mod #modificados{
    text-align: center;
}

#tabla_mod #cambios{
    border-style: solid;
    border-color: rgb(67, 179, 127);
    border-radius: 5px;
}
/*/


/* DOCUMENTACION */
#tabla_doc{
    width: 700px;
}

#tabla_doc a{
    color: rgb(67, 179, 127);
    text-align: center;
}

#tabla_doc a:hover{
    color: rgb(255, 255, 255);
}
/*/


/* CARGAR ARCHIVO */
#form_carch{
    width: 550px;
}

#form_carch #arch{
    margin-left: 20px;
}

#form_carch #nom{
    margin-left: 16px;
    width: 332px;
}

#form_carch fieldset{
    padding: 20px;
}
/*/


/* NUEVA ACTIVIDAD */
#form_nact{
    width: 500px;
}

#form_nact fieldset{
    padding: 20px;
}

#form_nact select{
    width: auto;
}

#form_nact .campo{
    margin: 5px auto;
    width: 300px;
}

#form_nact #serv{
    margin-left: 49px;
    width: 165px;
}

#form_nact #nom{
    margin-left: 66px;
    width: 165px;
}

#form_nact #obj{
    margin-left: 39px;
    width: 165px;
}

#form_nact #finEst{
    margin-left: 18px;
    width: 165px;
}

#form_nact .btn_container{
    float: none;
    margin-top: 10px;
    width: 250px;
}
/*/


/* MODIFICAR ACTIVIDAD */
#form_mod{
    width: 550px;
}

#form_mod fieldset{
    padding: 20px;
}

#form_mod select{
    width: auto;
}

#form_mod .campo{
    margin: 5px auto;
    width: 300px;
}

#form_mod #serv{
    margin-left: 49px;
    width: 165px;
}

#form_mod #nom{
    margin-left: 66px;
    width: 165px;
}

#form_mod #obj{
    margin-left: 39px;
    width: 165px;
}

#form_mod #finEst{
    margin-left: 18px;
    width: 165px;
}

#form_mod .btn_container{
    float: none;
    margin-top: 10px;
    width: 160px;
}
/*/

/* PUBLICAR */
#form_publi{
    width: 500px;
}

#form_publi fieldset{
    padding: 10px;
}

#form_publi #link{
    margin-left: 10px;
}

#form_publi .btn_form{
    margin-right: 10px;
}


/*/


/* INICIAR SESION */
#form_login{
    width: 400px;
    margin: 3% auto;
}

#form_login .campo{
    text-align: center;
}

#form_login .campo #mail{
    margin-left: 30px;
}

#form_login .campo #pass{
    margin-left: 77px;
}

#form_login .btn_container{
    margin-right: 3px;
}
/*/


/* REGISTRARSE */
#registrarse_form{
    width: 400px;
    margin: 3% auto;
}

#registrarse_form #nom{
    margin-left: 100px;
}

#registrarse_form #mail{
    margin-left: 26px;
}

#registrarse_form #pass{
    margin-left: 74px;
}

#registrarse_form #pass2{
    margin-left: 3px;
}

#registrarse_form .btn_container{
    margin-right: 8px;
}
/*/


/* MEDIA QUERY */
@media (max-width: 1490px){
    #tabla_servicio th, #tabla_servicio td, #tabla_servicio a{
        font-size: 0.9rem;
    }
}

@media (max-width: 1360px){
    #tabla_servicio th, #tabla_servicio td, #tabla_servicio a{
        font-size: 0.8rem;
    }
}